{
    "presets": ["env", "react"],
    "compact": true,
    "plugins": [
        "add-module-exports",
        "transform-export-extensions",
        "babel-plugin-transform-es2015-modules-commonjs"
    ]
}